:root {
  --brand-color: #212121;
  --text-color: #757575;
  --background-color: #ffffff;
  --link-color: #2196f3;
}
/*COMMON*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);

  margin: 0;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

/*HEADER*/
.header-border {
  border-bottom: 1px solid #ececec;
}

.boxflex {
  display: flex;
}
.studio-link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--link-color);
  text-decoration: none;
  margin-top: 24px;
  margin-bottom: 25px;
}
.menu {
  display: flex;
  gap: 46px;
  justify-content: center;
  width: 261px;
  margin-left: 93px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.color-studio {
  color: #000;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02px;
  text-decoration: none;
  color: var(--brand-color);
  display: block;
}
.link:hover {
  color: var(--link-color);
}
.link:focus {
  color: var(--link-color);
}

.menu2 {
  display: flex;
  gap: 50px;
  margin-top: 32px;
  margin-left: 344px;
}

.mail-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text-color);
  display: block;
}
.mail-tel:hover {
  color: var(--link-color);
}
.mail-tel:focus {
  color: var(--link-color);
}

/*HERO*/
.business {
  background: #2f303a;
}
.headline1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--background-color);
  padding-top: 106px;
  padding-left: 252px;
  padding-right: 252px;
}
.service {
  background: var(--link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--background-color);
  padding-top: 10px;
  padding-right: 42px;
  padding-bottom: 10px;
  padding-left: 42px;
  margin-bottom: 106px;
  margin-top: 31px;
  margin-left: 500px;
}
/*OUR ASPECTS*/

.name-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
  margin-bottom: 10px;
}
.textflex {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
  width: 270px;
}

/* OUR WORKS */

.headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  text-align: center;
  margin-bottom: 50px;
  margin-top: -94px;
}
.imglist {
  display: flex;
  justify-content: center;
  gap: 30px;
}

/*OUR EYMPLOYEES*/
.headline2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  margin-bottom: 50px;
}

.headline3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  margin-top: 30px;
  margin-bottom: 10px;
}
.text-employee {
  padding-bottom: 30px;
}

.color-employee {
  background: #f5f4fa;
}
.imgflex2 {
  display: flex;
  gap: 30px;
}
.employee {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.border {
  background: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding: 0;
  margin: 0;
}

/*FOOTER*/
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.color-studio2 {
  color: var(--background-color);
}
.studio-link2 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--link-color);
  text-decoration: none;
  display: block;
  margin-bottom: 20px;

}

.footer-address {
  display: flex;
  flex-direction: column;
}

.address,
.mail-tel-color {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--background-color);
  padding-bottom: 9px;

}

.address:hover {
  color: var(--link-color);
}

.mail-tel-color {
  color: rgba(255, 255, 255, 0.6);
}
.mail-tel-color:hover {
  color: var(--link-color);
}
.mail-tel-color:focus {
  color: var(--link-color);
}
/*BUTTONS*/
.flex-button {
  height: 54px;
  display: flex;
  justify-content: center;
  gap: 8px;

}
.button-one {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border-color: #f5f4fa;
  border-style: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
}
.button-one {
  color: var(--brand-color);
  text-decoration: none;
}
.button-one:hover {
  background: var(--link-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--background-color);
}

/*CARDS*/
.flex-project {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.border-two {
  background: var(--background-color);
  border: 1px solid #eeeeee;
}
figure {
  margin: 0;
}

.pad-size {
  width: 370px;
  margin-top: 30px;
}

.img-portfolio {
  display: block;
}

.title-one {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--brand-color);
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
}
.title-two {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  padding-bottom: 20px;
  padding-left: 24px;
}
