:root {
  --brand-color: #212121;
  --text-color: #757575;
  --background-color: #ffffff;
  --link-color: #2196f3;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  width: 1600px;
  height: 2349px;
  margin: 0;
}
.container {
  width: 1200px;
  margin: auto;
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.boxflex {
  width: 1600px;
  height: 80px;
  display: flex;
  border-bottom: 1px solid #ececec;
}

.studio-link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--link-color);
  text-decoration: none;
  display: block;
  margin-left: 215px;
  margin-top: 24px;
  margin-bottom: 25px;
}
.menu {
  display: flex;
  gap: 46px;
  margin-left: 93px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.color-studio {
  color: #000;
}
ul {
  list-style: none;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02px;
  text-decoration: none;
  color: var(--brand-color);
  display: block;
}
.link:hover {
  color: var(--link-color);
}
.link:focus {
  color: var(--link-color);
}

.menu2 {
  display: flex;
  margin-left: 325px;
  margin-top: 32px;
}

.mail-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text-color);
  display: block;
  padding-right: 50px;
}
.mail-tel:hover {
  color: var(--link-color);
}
.mail-tel:focus {
  color: var(--link-color);
}

.business {
  width: 1600px;
  height: 600px;
  background: #2f303a;
}
.headline1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);
  padding-top: 200px;
  padding-left: 452px;
  padding-right: 452px;
  padding-bottom: 31px;
}
.service {
  background: var(--link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--background-color);
  padding-top: 10px;
  padding-right: 41px;
  padding-bottom: 10px;
  padding-left: 42px;
  margin-bottom: 200px;
  margin-left: 700px;
}

.name-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
  margin-bottom: 10px;
}
.textflex {
  width: 1170px;
  height: 101px;
  display: flex;
  gap: 30px;
  margin-left: 215px;
}
.text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.size-imglist {
  width: 1170px;
  height: 386px;
}

.headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  margin-left: 624px;
  margin-bottom: 50px;
  margin-top: 94px;
}
.imglist {
  display: flex;
  gap: 30px;
  margin-left: 215px;
}
.img-one {
  background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
  mix-blend-mode: normal;
  display: block;
}
.img-two {
  background: url(web-ui-designers-are-developing-application-smartphones-team-creators-is-working-interface-mobile-phones_8119-2713.jpg);
  display: block;
}
.img-three {
  background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);
  display: block;
}

.headline2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  margin-bottom: 50px;
}

.headline3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  margin-top: 30px;
  margin-bottom: 10px;
}
.text-employee {
  padding-bottom: 30px;
}

.color-employee {
  width: 1600px;
  height: 648px;
  background: #f5f4fa;
}
.imgflex2 {
  display: flex;
  margin-left: 215px;
  gap: 30px;
}
.employee {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.img1 {
  background: url(4853);
  border-radius: 0px;
}
.img2 {
  background: url(5844);
  border-radius: 0px;
}
.img3 {
  background: url(16166);
  border-radius: 0px;
}
.img4 {
  background: url(2968);
  border-radius: 0px;
}
.border {
  background: var(--background-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding: 0;
  margin: 0;
}
.footer {
  width: 1600px;
  height: 252px;
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.studio-link2 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--link-color);
  text-decoration: none;
  display: block;
  margin-left: 215px;
  margin-bottom: 20px;
}

.address,
.mail-tel-color {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-color);
  margin-left: 215px;
  padding-bottom: 9px;
}

.address:hover {
  color: var(--link-color);
}
.color-studio2 {
  color: var(--background-color);
}
.mail-tel-color {
  color: rgba(255, 255, 255, 0.6);
}
.mail-tel-color:hover {
  color: var(--link-color);
}
.mail-tel-color:focus {
  color: var(--link-color);
}

.size-main {
  width: 1170px;
  height: 1360px;
}

.flex-button {
  width: 572px;
  height: 54px;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-left: 510px;
  margin-bottom: 34px;
}
.button-one {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border-color: #f5f4fa;
  border-style: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
}
.button-one {
  color: var(--brand-color);
  text-decoration: none;
}
.button-one:hover {
  background: var(--link-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--background-color);
}

.border-two {
  background: var(--background-color);
  border: 1px solid #eeeeee;
}
figure {
  margin: 0;
}
.flex-project {
  display: flex;
  margin-left: 215px;
}
.pad-size {
  padding-right: 30px;
  padding-bottom: 30px;
}
.img-portfolio1 {
  background: url(portfolio1.jpg);
  display: block;
}
.img-portfolio2 {
  background: url(portfolio2.jpg);
  display: block;
}
.img-portfolio3 {
  background: url(portfolio-1.jpg);
  display: block;
}
.img-portfolio4 {
  background: url(portfolio-2.jpg);
  display: block;
}
.img-portfolio5 {
  background: url(portfolio5.jpg);
  display: block;
}
.img-portfolio6 {
  background: url(111.jpg);
  display: block;
}
.img-portfolio7 {
  background: url(portfolio7);
  display: block;
}
.img-portfolio8 {
  background: url(portfolio8.jpg);
  display: block;
}
.img-portfolio9 {
  background: url(2910404.jpg);
  display: block;
}
.title-one {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--brand-color);
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
}
.title-two {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  padding-bottom: 20px;
  padding-left: 24px;
}
